{% extends 'base.html.twig' %}

{% block title %}All Games{% endblock %}

{% block body %}
    <h1 style="text-align: center; padding-top: 50px; color: white;">
        Bienvenue sur All Games 🎮
    </h1>
{% endblock %}
