{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="text-3xl font-medium title-font text-white mb-12 text-center">Liste des jeux</h1>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      {% for game in games %}
        {% include 'game/_game_item.html.twig' with {'game': game} %}
      {% else %}
        <p class="text-white">Aucun jeu trouvé.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
